In [1]:
# string based assignment problem

In [2]:
# Q1 Write a program to reverse a string.

In [5]:
#ANS 1-

user_input = input("Enter a string: ")
result = reverse_string(user_input)
print("Reversed string:", result)

Enter a string:  sudanshu sir

Reversed string: ris uhsnadus

In [6]:
# Q2) Check if a string is a palindrome.

In [1]:
#ANS- 

user_string = input("Enter a string: ")


processed_string = user_string.replace(" ", "").lower()


reversed_string = processed_string[::-1]


if processed_string == reversed_string:
    print(f"The string '{user_string}' is a palindrome.")
else:
    print(f"The string '{user_string}' is not a palindrome.")

Enter a string:  nitin

The string 'nitin' is a palindrome.

In [1]:
# Q3 - Convert a string to uppercase.

In [2]:
#ANS-
user_input = input("Enter a string: ")
result = user_input.upper()
print("Uppercase string:", result)

Enter a string:  jatin

Uppercase string: JATIN

In [3]:
 # Q4) Convert a string to lowercase.

In [1]:
#ANS-

user_input = input("Enter a string: ")
result = user_input.lower()
print("Lowercase string:", result)

Enter a string:  vikas

Lowercase string: vikas

In [ ]:
#q5) Count the number of vowels in a string.

In [11]:
#ans-

def count_vowels(input_str):
    vowels = set("aeiouAEIOU")

    vowel_count = 0
    for char in input_str:
        if char in vowels:
            vowel_count += 1
user_input = input("Enter a string: ")
result = count_vowels(user_input)
print("Number of vowels:", result)

Enter a string:  tina

Number of vowels: None

In [12]:
#q6 : Count the number of consonants in a string.

In [14]:
#ans

def count_consonants(input_str):
    vowels = set("aeiouAEIOU")
    consonant_count = 0
    for char in input_str:
        if char.isalpha() and char not in vowels:
            consonant_count += 1
    return consonant_count

user_input = input("Enter a string: ")
result = count_consonants(user_input)
print("Number of consonants:", result)

Enter a string:  yuvaan

Number of consonants: 3

In [15]:
#q7)  Remove all whitespaces from a string.

In [16]:
#ans-

def remove_whitespace(input_str):
    return input_str.replace(" ", "")


user_input = input("Enter a string: ")
result = remove_whitespace(user_input)
print("String without whitespaces:", result)

Enter a string:  hello i am jatin

String without whitespaces: helloiamjatin

In [17]:
#q8- Find the length of a string without using the `len()` function.

In [18]:
#ans-

def find_length(input_str):
    length = 0
    for char in input_str:
        length += 1
    return length

user_input = input("Enter a string: ")
result = find_length(user_input)
print("Length of the string:", result)

Enter a string:  python is fun

Length of the string: 13

In [19]:
#q9- Check if a string contains a specific word.

In [20]:
#ans-

def contains_word(input_str, target_word):
    return target_word in input_str

user_input = input("Enter a string: ")
search_word = input("Enter the word to check for: ")

if contains_word(user_input, search_word):
    print("The string contains the word.")
else:
    print("The string does not contain the word.")

Enter a string:  hello this is jatin malilk
Enter the word to check for:  is

The string contains the word.

In [21]:
#q10- Replace a word in a string with another word.

In [22]:
#ans- 

def replace_word(input_str, old_word, new_word):
    return input_str.replace(old_word, new_word)
user_input = input("Enter a string: ")
old_word = input("Enter the word to replace: ")
new_word = input("Enter the replacement word: ")

result = replace_word(user_input, old_word, new_word)
print("Updated string:", result)

Enter a string:  virat kohli is a great player
Enter the word to replace:  great
Enter the replacement word:  greatest

Updated string: virat kohli is a greatest player

In [23]:
#q11 - Count the occurrences of a word in a string.

In [25]:
#ans- 

def count_occurrences(input_str, target_word):
    words = input_str.split()
    count = 0
    for word in words:
        if word == target_word:
            count += 1
    return count
user_input = input("Enter a string: ")
search_word = input("Enter the word to count: ")

result = count_occurrences(user_input, search_word)
print(f"The word '{search_word}' appears {result} times in the string.")

Enter a string:  hey is a good person
Enter the word to count:  person

The word 'person' appears 1 times in the string.

In [26]:
#q12- Find the first occurrence of a word in a string.

In [27]:
#ans-

def find_first_occurrence(input_str, target_word):
    words = input_str.split()
    for index, word in enumerate(words):
        if word == target_word:
            return index
    return -1  

user_input = input("Enter a string: ")
search_word = input("Enter the word to find: ")

result = find_first_occurrence(user_input, search_word)

if result != -1:
    print(f"The word '{search_word}' first occurs at index {result} in the string.")
else:
    print(f"The word '{search_word}' is not found in the string.")

Enter a string:  ysterday was our cricket match
Enter the word to find:  football

The word 'football' is not found in the string.

In [28]:
#q13-  Find the last occurrence of a word in a string.

In [29]:
#ans -

def find_last_occurrence(input_str, target_word):
    words = input_str.split()
    for index in range(len(words) - 1, -1, -1):
        if words[index] == target_word:
            return index
    return -1  

user_input = input("Enter a string: ")
search_word = input("Enter the word to find: ")

result = find_last_occurrence(user_input, search_word)

if result != -1:
    print(f"The word '{search_word}' last occurs at index {result} in the string.")
else:
    print(f"The word '{search_word}' is not found in the string.")

Enter a string:  im good at python
Enter the word to find:  python

The word 'python' last occurs at index 3 in the string.

In [30]:
#q14) - Split a string into a list of words.

In [32]:
# ans-
user_input = input("Enter a string: ")
words_list = user_input.split()

print("List of words:", words_list)

Enter a string:  yuvraj

List of words: ['yuvraj']

In [33]:
#q15) Join a list of words into a string.

In [35]:
#ans

words_list = ["Hello", "world", "Python"]
joined_string = " ".join(words_list)

print("Joined string:", joined_string)

Joined string: Hello world Python

In [36]:
#q16) Convert a string where words are separated by spaces to one where words
# are separated by underscores.

In [37]:
# ans-

user_input = input("Enter a string with spaces: ")
underscored_string = user_input.replace(" ", "_")

print("String with underscores:", underscored_string)

Enter a string with spaces:  you can have anything you wannt

String with underscores: you_can_have_anything_you_wannt

In [38]:
#q17) 17. Check if a string starts with a specific word or phrase.

In [39]:
#ans - 

user_input = input("Enter a string: ")
prefix_to_check = input("Enter the prefix to check for: ")

if user_input.startswith(prefix_to_check):
    print(f"The string starts with '{prefix_to_check}'.")
else:
    print(f"The string does not start with '{prefix_to_check}'.")

Enter a string:  racks and rounds
Enter the prefix to check for:  r

The string starts with 'r'.

In [40]:
#q18 - 18. Check if a string ends with a specific word or phrase.

#ANS -

user_input = input("Enter a string: ")
suffix_to_check = input("Enter the suffix to check for: ")

if user_input.endswith(suffix_to_check):
    print(f"The string ends with '{suffix_to_check}'.")
else:
    print(f"The string does not end with '{suffix_to_check}'.")

Enter a string:  check thi code
Enter the suffix to check for:  o

The string does not end with 'o'.

In [41]:
# q19) Convert a string to title case (e.g., "hello world" to "Hello World").

#ANS -

user_input = input("Enter a string: ")
title_case_string = user_input.title()

print("Title case string:", title_case_string)

Enter a string:  jatin malik

Title case string: Jatin Malik

In [42]:
# q20- Find the longest word in a string.

# ANS- 

def find_longest_word(input_str):
    words = input_str.split()
    
    if not words:
        return None  # Return None if the string is empty
    
    longest_word = max(words, key=len)
    return longest_word

# Example usage:
user_input = input("Enter a string: ")
result = find_longest_word(user_input)

if result:
    print(f"The longest word in the string is: '{result}'")
else:
    print("The string is empty.")

Enter a string:  cricket is the favourite sport in india

The longest word in the string is: 'favourite'

In [43]:
#q 21- Find the shortest word in a string.

# ans

def find_shortest_word(input_str):
    words = input_str.split()

    if not words:
        return None 

    shortest_word = min(words, key=len)
    return shortest_word


user_input = input("Enter a string: ")
result = find_shortest_word(user_input)

if result:
    print(f"The shortest word in the string is: '{result}'")
else:
    print("The string is empty.")

Enter a string:  the shortest word in the string would be is

The shortest word in the string is: 'in'

In [45]:
#q22 Reverse the order of words in a string.

# ans
def reverse_words_order(input_str):
    words = input_str.split()
    reversed_words = reversed(words)
    reversed_string = ' '.join(reversed_words)
    return reversed_string

user_input = input("Enter a string: ")
result = reverse_words_order(user_input)
print("String with reversed words order:", result)

Enter a string:  arjit singh is my favorite

String with reversed words order: favorite my is singh arjit

In [46]:
#q23- Check if a string is alphanumeric.

#ans -

user_input = input("Enter a string: ")

if user_input.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  im 22 years old

The string is not alphanumeric.

In [47]:
#q24- Extract all digits from a string.

# ans 

user_input = input("Enter a string: ")

digits = ''.join(char for char in user_input if char.isdigit())

if digits:
    print("Digits extracted:", digits)
else:
    print("No digits found in the string.")

Enter a string:  my phone number is 123456

Digits extracted: 123456

In [48]:
#q25- Extract all alphabets from a string.

# ans -

user_input = input("Enter a string: ")

alphabets = ''.join(char for char in user_input if char.isalpha())

if alphabets:
    print("Alphabets extracted:", alphabets)
else:
    print("No alphabets found in the string.")

Enter a string:  my skills are improving

Alphabets extracted: myskillsareimproving

In [49]:
#q26 - Count the number of uppercase letters in a string.

#ans- 

user_input = input("Enter a string: ")

uppercase_count = sum(1 for char in user_input if char.isupper())

print("Number of uppercase letters:", uppercase_count)

Enter a string:  my name is virat kohli

Number of uppercase letters: 0

In [51]:
#q27-Count the number of lowercase letters in a string.

#ans - 

user_input = input("Enter a string: ")

lowercase_count = sum(1 for char in user_input if char.islower())

print("Number of lowercase letters:", lowercase_count)

Enter a string:  india population is 1.4 billio

Number of lowercase letters: 23

In [2]:
#q28 - Swap the case of each character in a string.

#ANs -

def swap_case(input_string):
    swapped_string = ''
    for char in input_string:
        if char.islower():
            swapped_string += char.upper()
        elif char.isupper():
            swapped_string += char.lower()
        else:
            swapped_string += char  

    return swapped_string


original_string = "Hello, World!"
result = swap_case(original_string)
print(result)

hELLO, wORLD!

In [3]:
# Q29 - Remove a specific word from a string.

# ANS- 

import re

def remove_word(input_string, word_to_remove):
    pattern = re.compile(r'\b' + re.escape(word_to_remove) + r'\b', flags=re.IGNORECASE)
    return pattern.sub('', input_string)


original_string = "Hello, World! This is an example."
word_to_remove = "example"
result = remove_word(original_string, word_to_remove)
print(result)

Hello, World! This is an .

In [12]:
# q30 - Check if a string is a valid email address.

#ANS -

from validate_email_address import validate_email

def is_valid_email(email):
    return validate_email(email)


email_address = "example@email.com"
if is_valid_email(email_address):
    print(f"{email_address} is a valid email address.")
else:
    print(f"{email_address} is not a valid email address.")

example@email.com is a valid email address.

In [13]:
# Q31 - Extract the username from an email address string.

# ANS - 

def extract_username(email):
    # Split the email address at the "@" symbol
    username = email.split('@')[0]
    return username


email_address = "example@email.com"
username = extract_username(email_address)
print(f"The username extracted from {email_address} is: {username}")

The username extracted from example@email.com is: example

In [14]:
# Q32- Extract the domain name from an email address string.

# ANS -

def extract_domain(email):
   
    domain = email.split('@')[1]
    return domain


email_address = "example@email.com"
domain = extract_domain(email_address)
print(f"The domain extracted from {email_address} is: {domain}")

The domain extracted from example@email.com is: email.com

In [16]:
#Q33 - Replace multiple spaces in a string with a single space.

#ANS - 

def replace_multiple_spaces(input_string):
   
    result_string = ' '.join(filter(None, input_string.split(' ')))
    return result_string

original_string = "Hello    world!    This   is    an   example."
result = replace_multiple_spaces(original_string)
print(result)

Hello world! This is an example.

In [19]:
# Q34 - Check if a string is a valid URL.

# ANS - 
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False


url_string = "https://www.example.com"
if is_valid_url(url_string):
    print(f"{url_string} is a valid URL.")
else:
    print(f"{url_string} is not a valid URL.")

https://www.example.com is a valid URL.

In [21]:
# Q35- Extract the protocol (http or https) from a URL string.

# ANS - 

from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme if parsed_url.scheme else None


url_string = "https://www.example.com"
protocol = extract_protocol(url_string)

if protocol:
    print(f"The protocol extracted from {url_string} is: {protocol}")
else:
    print(f"{url_string} does not have a valid protocol.")

The protocol extracted from https://www.example.com is: https

In [23]:
# q36-  Find the frequency of each character in a string.

# ANS- 

def character_frequency(input_string):
 
    frequency_dict = {}


    for char in input_string:
  
        frequency_dict[char] = frequency_dict.get(char, 0) + 1

    return frequency_dict

input_string = "hello world"
result = character_frequency(input_string)


for char, count in result.items():
    print(f"Character: {char}, Frequency: {count}")

Character: h, Frequency: 1
Character: e, Frequency: 1
Character: l, Frequency: 3
Character: o, Frequency: 2
Character:  , Frequency: 1
Character: w, Frequency: 1
Character: r, Frequency: 1
Character: d, Frequency: 1

In [25]:
# Q37 -Remove all punctuation from a string.

# ANS - 

import string

def remove_punctuation(input_string):

    
    translation_table = str.maketrans("", "", string.punctuation)


    result_string = input_string.translate(translation_table)
    
    return result_string


input_string = "Hello, World! This is an example."
result = remove_punctuation(input_string)
print(result)

Hello World This is an example

In [27]:
# Q38 - Check if a string contains only digits.

# ANS 

def contains_only_digits(input_string):
    return input_string.isdigit()

test_string = "123456"
if contains_only_digits(test_string):
    print(f"{test_string} contains only digits.")
else:
    print(f"{test_string} does not contain only digits.")

123456 contains only digits.

In [29]:
 # Q39 Check if a string contains only alphabets.

# ANS

def contains_only_alphabets(input_string):
    return input_string.isalpha()


test_string = "abcdef"
if contains_only_alphabets(test_string):
    print(f"{test_string} contains only alphabets.")
else:
    print(f"{test_string} does not contain only alphabets.")

abcdef contains only alphabets.

In [30]:
# Q40 -Convert a string to a list of characters.

# ANS - 

string_example = "Hello, World!"
list_using_constructor = list(string_example)

list_using_brackets = [char for char in string_example]


print("Using list() constructor:", list_using_constructor)
print("Using square brackets:", list_using_brackets)

Using list() constructor: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']
Using square brackets: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [32]:
# Q41 Check if two strings are anagrams.

#ANS

def are_anagrams(str1, str2):
  
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()


    return sorted(str1) == sorted(str2)


string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

In [34]:
# Q42 -  Encode a string using a Caesar cipher.

#ANS - 

def caesar_cipher_encrypt(plaintext, shift):
    encrypted_text = ""

    for char in plaintext:
        if char.isalpha():
            is_upper = char.isupper()
            
           
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))

            encrypted_text += shifted_char
        else:
           
            encrypted_text += char

    return encrypted_text


plaintext = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)

print(f"Original: {plaintext}")
print(f"Encrypted: {encrypted_text}")

Original: Hello, World!
Encrypted: Khoor, Zruog!

In [39]:
# Q 43 - Decode a Caesar cipher encoded string

#ANS - 

def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
          
            is_upper = char.isupper()

          
            decrypted_char = chr((ord(char) - ord('A' if is_upper else 'a') - shift) % 26 + ord('A' if is_upper else 'a'))

            decrypted_text += decrypted_char
        else:
        
            decrypted_text += char

    return decrypted_text


encrypted_text = "Khoor, Zruog!"
shift_amount = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)

print(f"Encrypted: {encrypted_text}")
print(f"Decrypted: {decrypted_text}")

Encrypted: Khoor, Zruog!
Decrypted: Hello, World!

In [41]:
#Q44 - Find the most frequent word in a string.

#ANS - 

def most_frequent_word(input_string):
   
    input_string = input_string.lower()

  
    words = input_string.split()


    word_frequency = {}
    for word in words:
        word_frequency[word] = word_frequency.get(word, 0) + 1


    most_frequent_word = max(word_frequency, key=word_frequency.get)
    frequency = word_frequency[most_frequent_word]

    return most_frequent_word, frequency


input_string = "This is an example string. This string contains an example word."
result_word, result_frequency = most_frequent_word(input_string)

print(f"The most frequent word is '{result_word}' with a frequency of {result_frequency}.")

The most frequent word is 'this' with a frequency of 2.

In [43]:
# Q45 - Find all unique words in a string.

# ANS - 

def unique_words(input_string):
    
    input_string = input_string.lower()

   
    words = input_string.split()

 
    unique_word_set = set(words)

    return unique_word_set


input_string = "This is an example string. This string contains an example word."
result_unique_words = unique_words(input_string)

print("Unique words:", result_unique_words)

Unique words: {'string', 'contains', 'is', 'word.', 'example', 'this', 'string.', 'an'}

In [51]:
!pip install pyphen

Requirement already satisfied: pyphen in c:\users\jatin\appdata\local\programs\python\python312\lib\site-packages (0.14.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [52]:
# Q 46 - Count the number of syllables in a string.

# ANS -

import pyphen

def count_syllables(word):
    dic = pyphen.Pyphen(lang='en_US')
    return len(dic.positions(word)) + 1

def count_syllables_in_string(input_string):
    words = input_string.split()
    syllable_count = sum(count_syllables(word) for word in words)
    return syllable_count

# Example usage:
input_string = "Hello, World! This is an example string."
syllable_count = count_syllables_in_string(input_string)

print(f"The number of syllables in the string is: {syllable_count}")

The number of syllables in the string is: 10

In [55]:
# Q 47 - Check if a string contains any special characters.

#ANS - 

def contains_special_characters(input_string):
  
    for char in input_string:
     
        if not char.isalnum():
            return True

 
    return False


test_string = "Hello123"
if contains_special_characters(test_string):
    print(f"{test_string} contains special characters.")
else:
    print(f"{test_string} does not contain special characters.")

Hello123 does not contain special characters.

In [56]:
#Q48 - Remove the nth word from a string.

#ANS - 

def remove_nth_word(input_string, n):
  
    words = input_string.split()


    if 0 <= n < len(words):
       
        del words[n]

     
        result_string = ' '.join(words)

        return result_string
    else:
       
        return input_string

original_string = "This is an example string. Remove the third word."
index_to_remove = 2 

result = remove_nth_word(original_string, index_to_remove)
print(result)

This is example string. Remove the third word.

In [67]:
#Q49 - Insert a word at the nth position in a string.

# ANS - 

def insert_word_at_nth_position(input_string, n, new_word):
   
    words = input_string.split()

   
    if 0 <= n <= len(words):
     
        words.insert(n, new_word)

     
        result_string = ' '.join(words)

        return result_string
    else:
       
        result_string = input_string + ' ' + new_word
        return result_string


original_string = "This is an example string. Insert the word."
index_to_insert = 4 
word_to_insert = "new"

result = insert_word_at_nth_position(original_string, index_to_insert, word_to_insert)
print(result)

This is an example new string. Insert the word.

In [69]:
#q50 - Convert a CSV string to a list of lists.

# ANS - 

def csv_string_to_list_split(csv_string):
  
    lines = csv_string.split('\n')

   
    csv_list = [line.split(',') for line in lines if line]

    return csv_list


csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list_split = csv_string_to_list_split(csv_string)
print(csv_list_split)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

In [70]:
                                #List Based Practice Problem :

In [1]:
#Q1) Create a list with integers from 1 to 10.

#ANS -

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Q2 - Find the length of a list without using the `len()` function.

#ANS -

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


length = 0


for _ in my_list:
    length += 1

print("Length of the list:", length)

Length of the list: 10

In [5]:
# Q3 - Append an element to the end of a list.

# ANS- 

my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print("Updated List:", my_list)

Updated List: [1, 2, 3, 4, 5, 6]

In [7]:
#Q4-  Insert an element at a specific index in a list.

#ANS -

my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 10)
print("Updated List:", my_list)

Updated List: [1, 2, 10, 3, 4, 5]

In [9]:
#Q5)  Remove an element from a list by its value.

#ANS -

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("Updated List:", my_list)

Updated List: [1, 2, 4, 5]

In [11]:
#Q6 - Remove an element from a list by its index.

#ANS - 

my_list = [1, 2, 3, 4, 5]
removed_element = my_list.pop(2)
print("Updated List:", my_list)
print("Removed Element:", removed_element)

Updated List: [1, 2, 4, 5]
Removed Element: 3

In [13]:
#Q7) Check if an element exists in a list.

#ANS -

my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("Element 3 is in the list.")
else:
    print("Element 3 is not in the list.")
if 6 in my_list:
    print("Element 6 is in the list.")
else:
    print("Element 6 is not in the list.")

Element 3 is in the list.
Element 6 is not in the list.

In [15]:
#Q8 - Find the index of the first occurrence of an element in a list.

#ANs -

my_list = [1, 2, 3, 4, 5, 3]
index_of_3 = my_list.index(3)
print("Index of the first occurrence of 3:", index_of_3)

Index of the first occurrence of 3: 2

In [17]:
#Q9 - Count the occurrences of an element in a list

#ANS _ 

my_list = [1, 2, 3, 4, 5, 3, 3]
count_of_3 = my_list.count(3)
print("Occurrences of 3 in the list:", count_of_3)

Occurrences of 3 in the list: 3

In [20]:
#Q10)  Reverse the order of elements in a list.

#ANS -

my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print("Reversed List:", my_list)

Reversed List: [5, 4, 3, 2, 1]

In [22]:
#Q11)  Sort a list in ascending order.

#ANS -

my_list = [5, 2, 8, 1, 3]
my_list.sort()
print("Sorted List (Ascending):", my_list)

Sorted List (Ascending): [1, 2, 3, 5, 8]

In [24]:
#Q12 - Sort a list in descending order.

#ANS -

my_list = [5, 2, 8, 1, 3]
my_list.sort(reverse=True)
print("Sorted List (Descending):", my_list)

Sorted List (Descending): [8, 5, 3, 2, 1]

In [26]:
#q13 - Create a list of even numbers from 1 to 20.

#ANS - 

even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("List of Even Numbers:", even_numbers)

List of Even Numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
#Q14 - Create a list of odd numbers from 1 to 20.

#ANS -

odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print("List of Odd Numbers:", odd_numbers)

List of Odd Numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
#Q15 - Find the sum of all elements in a list.

#ANS - 

my_list = [1, 2, 3, 4, 5]
list_sum = sum(my_list)
print("Sum of the elements in the list:", list_sum)

Sum of the elements in the list: 15

In [33]:
#Q16 - Find the maximum value in a list.

#ANS - 

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
max_value = max(my_list)
print("Maximum value in the list:", max_value)

Maximum value in the list: 9

In [35]:
#Q17) Find the minimum value in a list.

#ANS _ 

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
min_value = min(my_list)
print("Minimum value in the list:", min_value)

Minimum value in the list: 1

In [37]:
#Q18 ) Create a list of squares of numbers from 1 to 10.

#ANS - 

squares = [num**2 for num in range(1, 11)]
print("List of Squares:", squares)

List of Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
#Q19 - Create a list of random numbers.

#ANS _

import random
random_numbers = [random.randint(1, 10) for _ in range(5)]
print("List of Random Numbers:", random_numbers)

List of Random Numbers: [10, 10, 6, 1, 1]

In [41]:
#Q20) Remove duplicates from a list.

#ANS - 

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("List without Duplicates:", unique_list)

List without Duplicates: [1, 2, 3, 4, 5]

In [43]:
#Q21)  Find the common elements between two lists.

#ANS -

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = list(set(list1) & set(list2))
print("Common Elements:", common_elements)

Common Elements: [4, 5]

In [46]:
#Q22) Find the difference between two lists.

#ANS - 

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
difference = list(set(list1) ^ set(list2))
print("Difference between lists:", difference)

Difference between lists: [1, 2, 3, 6, 7, 8]

In [48]:
#Q23)  Merge two lists.

#ANS - 

list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print("Merged List:", merged_list)

Merged List: [1, 2, 3, 4, 5, 6]

In [50]:
#Q24) Multiply all elements in a list by 2.

#ANS - 

original_list = [1, 2, 3, 4, 5]
new_list = []

for element in original_list:
    new_list.append(element * 2)
print(new_list)

[2, 4, 6, 8, 10]

In [52]:
#Q25) Filter out all even numbers from a list.

#ANS -

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list = []
for element in original_list:
    if element % 2 != 0:
        new_list.append(element)
print(new_list)

[1, 3, 5, 7, 9]

In [54]:
#Q26) Convert a list of strings to a list of integers.

#ANS_ 

string_list = ["1", "2", "3", "4", "5"]
int_list = list(map(int, string_list))
print(int_list)

[1, 2, 3, 4, 5]

In [57]:
#Q27) Convert a list of integers to a list of strings.

#ANS - 
int_list = [1, 2, 3, 4, 5]
string_list = list(map(str, int_list))
print(string_list)

['1', '2', '3', '4', '5']

In [59]:
#Q28) Flatten a nested list.

#ANS - 

def flatten_list(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten_list(element))
        else:
            flat_list.append(element)
    return flat_list
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
result = flatten_list(nested_list)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
#Q29)  Create a list of the first 10 Fibonacci numbers.

#ANS - 

def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list[:n]
first_10_fibonacci = generate_fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [63]:
#Q30) Check if a list is sorted.

#ANS -  

def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 2, 8, 1, 3]
print(is_sorted(sorted_list))
print(is_sorted(unsorted_list))

True
False

In [65]:
#Q31 - Rotate a list to the left by `n` positions.

#ANS _ 

def rotate_left(lst, n):
    n = n % len(lst)
    rotated_list = lst[n:] + lst[:n]
    return rotated_list
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(original_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

In [67]:
#Q32) Rotate a list to the right by `n` positions.

#ANS -

def rotate_right(lst, n):
    n = n % len(lst)  
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(original_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

In [69]:
#Q33) Create a list of prime numbers up to 50.

#ANS _

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [71]:
#Q34) Split a list into chunks of size `n`.

#ANS -

def chunk_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = chunk_list(original_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
#Q35) Find the second largest number in a list.

#ANS -

def second_largest(lst):
    if len(lst) < 2:
        return "List should have at least two elements."

   
    max_value = max(lst)

   
    lst.remove(max_value)

   
    second_largest_value = max(lst)

    return second_largest_value

numbers = [10, 5, 8, 20, 15]
result = second_largest(numbers)

print("Second Largest Number:", result)

Second Largest Number: 15

In [79]:
#Q36) Replace every element in a list with its square.

#ANS -

original_list = [1, 2, 3, 4, 5]
squared_list = [element ** 2 for element in original_list]
print(squared_list)

[1, 4, 9, 16, 25]

In [81]:
#Q37 ) Convert a list to a dictionary where list elements become keys and their
# indices become values.

#ANS -

original_list = ['apple', 'banana', 'cherry', 'date']
indexed_dict = {element: index for index, element in enumerate(original_list)}
print(indexed_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [83]:
# Q38) Shuffle the elements of a list randomly.

#ANS - 

import random
original_list = [1, 2, 3, 4, 5]
random.shuffle(original_list)
print(original_list)

[5, 1, 2, 3, 4]

In [85]:
#Q39) Create a list of the first 10 factorial numbers.

#ANS -

import math
factorial_numbers = [math.factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [87]:
#Q40) Check if two lists have at least one element in common.

#ANS -

def have_common_element(list1, list2):
    return any(element in list2 for element in list1)
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 7, 8, 9]
if have_common_element(list_a, list_b):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [89]:
#Q41) Remove all elements from a list.

#ANS - 

my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [91]:
#Q42) Replace negative numbers in a list with 0.

#ANS -
original_list = [1, -2, 3, -4, 5, -6]
modified_list = [max(0, element) for element in original_list]
print(modified_list)

[1, 0, 3, 0, 5, 0]

In [93]:
#Q43) Convert a string into a list of words.

#ANS - 
my_string = "Convert this string into a list of words"
word_list = my_string.split()
print(word_list)

['Convert', 'this', 'string', 'into', 'a', 'list', 'of', 'words']

In [96]:
#Q44)   Convert a list of words into a string.

#ANS - 

word_list = ['Convert', 'this', 'list', 'of', 'words', 'to', 'a', 'string']
result_string = ' '.join(word_list)
print(result_string)

Convert this list of words to a string

In [99]:
#Q45) Create a list of the first `n` powers of 2.

#ANS -
n = 5 
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [101]:
#Q46) Find the longest string in a list of strings.

#ANS  -

string_list = ['apple', 'banana', 'cherry', 'date', 'kiwi']
longest_string = max(string_list, key=len)
print("Longest String:", longest_string)

Longest String: banana

In [103]:
#Q47) Find the shortest string in a list of strings.

#ANS - 

string_list = ['apple', 'banana', 'cherry', 'date', 'kiwi']
shortest_string = min(string_list, key=len)
print("Shortest String:", shortest_string)

Shortest String: date

In [105]:
#Q48) Create a list of the first `n` triangular numbers.

#ANS -

n = 5  
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [107]:
#Q49 ) Check if a list contains another list as a subsequence.

#ANS - 

def is_subsequence(sublist, larger_list):
    iter_larger = iter(larger_list)
    for item in sublist:
        if item not in iter_larger:
            return False
    return True
larger_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sublist_a = [2, 4, 6]
sublist_b = [2, 5, 8]
print(is_subsequence(sublist_a, larger_list)) 
print(is_subsequence(sublist_b, larger_list))

True
True

In [109]:
#Q50) Swap two elements in a list by their indices.

#ANS -

def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]

In [110]:
                               # Tuple Based Practice Problem :

In [2]:
#Q1)  Create a tuple with integers from 1 to 5.

#ANS_ 

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
#Q2) Access the third element of a tuple. 

#ANS -

my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

In [5]:
#Q3) Find the length of a tuple without using the `len()` function.

#ANS -

my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0
for element in my_tuple:
    tuple_length += 1
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

In [7]:
#Q4) Count the occurrences of an element in a tuple.

#ANS -

my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
count_occurrences = my_tuple.count(element_to_count)
print(f"The element {element_to_count} occurs {count_occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

In [9]:
#Q5) Find the index of the first occurrence of an element in a tuple.

#ANS -

my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_find = 2
index_of_first_occurrence = my_tuple.index(element_to_find)
print(f"The index of the first occurrence of {element_to_find} is: {index_of_first_occurrence}")

The index of the first occurrence of 2 is: 1

In [11]:
#Q6) Check if an element exists in a tuple.

#ANS -
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 3 exists in the tuple.

In [13]:
#Q7) Convert a tuple to a list.

#ANS -
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [15]:
#Q8) Convert a list to a tuple.

#ANS -
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [17]:
#Q9) Unpack the elements of a tuple into variables.

#ANS -
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple
print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 1
Variable 2: 2
Variable 3: 3

In [19]:
#Q10) Create a tuple of even numbers from 1 to 10.

#ANS -
even_numbers_tuple = (2, 4, 6, 8, 10)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [21]:
#Q11) Create a tuple of odd numbers from 1 to 10.

#ANS - 
odd_numbers_tuple = (1, 3, 5, 7, 9)
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [23]:
#Q12) Concatenate two tuples.

#ans - 
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [25]:
#Q13) Repeat a tuple three times.

#aNS -
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
#Q14) Check if a tuple is empty.

#ANS - 
my_empty_tuple = ()
if not my_empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [29]:
#Q15) Create a nested tuple.

#ANS -
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [31]:
#Q16) Access the first element of a nested tuple.

#ANS - 
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0][0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: 1

In [33]:
#Q17) Create a tuple with a single element.

#ANS  -
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

In [36]:
#q18) Compare two tuples.

#ANS -
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")
if tuple1 < tuple2:
    print("Tuple1 is less than Tuple2")
else:
    print("Tuple1 is not less than Tuple2")

Tuples are not equal
Tuple1 is less than Tuple2

In [38]:
#Q19) Delete a tuple.

#ANS - 
my_tuple = (1, 2, 3, 4, 5)
print("Original Tuple:", my_tuple)
del my_tuple

Original Tuple: (1, 2, 3, 4, 5)

In [40]:
#Q20) Slice a tuple.

#ANS -
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:3]
print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Sliced Tuple: (2, 3)

In [42]:
#Q21) Find the maximum value in a tuple.

#ANS -
my_tuple = (4, 8, 1, 6, 3, 9, 2)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

In [44]:
#Q22) Find the minimum value in a tuple.

#ANS -
my_tuple = (4, 8, 1, 6, 3, 9, 2)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 1

In [48]:
#q23) Convert a string to a tuple of characters.

#ANS -
my_string = "hello"
tuple_of_characters = tuple(my_string)
print("String:", my_string)
print("Tuple of characters:", tuple_of_characters)

String: hello
Tuple of characters: ('h', 'e', 'l', 'l', 'o')

In [50]:
#Q24) Convert a tuple of characters to a string.

#ANS - 

tuple_of_characters = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(tuple_of_characters)
print("Tuple of characters:", tuple_of_characters)
print("String from tuple:", string_from_tuple)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')
String from tuple: hello

In [52]:
#q25) Create a tuple from multiple data types.

#ANS -
mixed_tuple = (1, 'hello', 3.14, True, [1, 2, 3])
print(mixed_tuple)

(1, 'hello', 3.14, True, [1, 2, 3])

In [54]:
#Q26) Check if two tuples are identical.

#ANS -
mixed_tuple = (1, 'hello', 3.14, True, [1, 2, 3])
print(mixed_tuple)

(1, 'hello', 3.14, True, [1, 2, 3])

In [56]:
#Q27) Sort the elements of a tuple.

#ANS -
original_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_tuple = tuple(sorted(original_tuple))
print("Original Tuple:", original_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted Tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [58]:
#Q28) Convert a tuple of integers to a tuple of strings.

#ANS - 
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)
print("Tuple of Integers:", tuple_of_integers)
print("Tuple of Strings:", tuple_of_strings)

Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [60]:
#Q29) Convert a tuple of strings to a tuple of integers.

#ANS - 
tuple_of_strings = ('1', '2', '3', '4', '5')
tuple_of_integers = tuple(int(s) for s in tuple_of_strings)
print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [62]:
#Q30) Merge two tuples.

#ANS - 
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [64]:
#Q31) Flatten a nested tuple.

#ans -
def flatten_nested_tuple(nested_tuple):
    flat_tuple = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_tuple += flatten_nested_tuple(item)
        else:
            flat_tuple += (item,)
    return flat_tuple
nested_tuple = ((1, 2, 3), (4, (5, 6)), 7, (8, 9))
flattened_tuple = flatten_nested_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [67]:
#Q32) Create a tuple of the first 5 prime numbers.

#ANS -
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
count = 0
number = 2
prime_numbers = []
while count < 5:
    if is_prime(number):
        prime_numbers.append(number)
        count += 1
    number += 1
tuple_of_primes = tuple(prime_numbers)
print(tuple_of_primes)

(2, 3, 5, 7, 11)

In [69]:
#Q33) Check if a tuple is a palindrome.

#ans - 
def is_palindrome(t):
    return t == t[::-1]
example_tuple = (1, 2, 3, 4, 3, 2, 1)
result = is_palindrome(example_tuple)
if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [71]:
#Q34) Create a tuple of squares of numbers from 1 to 5.

#ANS - 
tuple_of_squares = tuple(x**2 for x in range(1, 6))
print(tuple_of_squares)

(1, 4, 9, 16, 25)

In [73]:
#Q35) Filter out all even numbers from a tuple.

#ANS - 
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [75]:
#Q36) Multiply all elements in a tuple by 2.

#ANS - 
original_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(x * 2 for x in original_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [77]:
#Q37) Create a tuple of random numbers.

#ANS - 
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(73, 65, 44, 21, 85)

In [79]:
#Q38) Check if a tuple is sorted.

#ANS -
def is_sorted(t):
    return t == tuple(sorted(t))
sorted_tuple = (1, 2, 3, 4, 5)
result = is_sorted(sorted_tuple)
if result:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

In [81]:
#Q39) Rotate a tuple to the left by `n` positions.

#ANS - 
def rotate_left(t, n):
    n = n % len(t)  
    return t[n:] + t[:n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left(original_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [83]:
#Q40) Rotate a tuple to the right by `n` positions.

#ANS - 
def rotate_right(t, n):
    n = n % len(t)  
    return t[-n:] + t[:-n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right(original_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [85]:
#Q41)   Create a tuple of the first 5 Fibonacci numbers.

#ANS - 
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers[:n])
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [88]:
#Q42 ) Create a tuple from user input.

#ans -
user_input_str = input("Enter elements separated by commas: ")
elements_list = user_input_str.split(',')
try:
    user_tuple = tuple(map(int, elements_list))
    print("Tuple created:", user_tuple)
except ValueError:
    print("Error: Please enter valid integers separated by commas.")

Enter elements separated by commas:

Error: Please enter valid integers separated by commas.

In [90]:
#Q43) Swap two elements in a tuple.

#ans -
def swap_elements(t, i, j):
    temp_list = list(t)
    temp_list[i], temp_list[j] = temp_list[j], temp_list[i]
    return tuple(temp_list)
original_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(original_tuple, 1, 3)
print(swapped_tuple)

(1, 4, 3, 2, 5)

In [92]:
#Q44) Reverse the elements of a tuple.

#ANS -
def reverse_tuple(t):
    return t[::-1]
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [94]:
#Q45) Create a tuple of the first `n` powers of 2.

#ans -
def generate_powers_of_2(n):
    return tuple(2 ** i for i in range(n))
powers_of_2_tuple = generate_powers_of_2(5)
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

In [97]:
#Q46) Find the longest string in a tuple of strings.

#ANS - 
tuple_of_strings = ('apple', 'banana', 'orange', 'strawberry', 'kiwi')
longest_string = max(tuple_of_strings, key=len)
print("The longest string is:", longest_string)

The longest string is: strawberry

In [99]:
#Q47) Find the shortest string in a tuple of strings.

#ans -
tuple_of_strings = ('apple', 'banana', 'orange', 'strawberry', 'kiwi')
shortest_string = min(tuple_of_strings, key=len)
print("The shortest string is:", shortest_string)

The shortest string is: kiwi

In [101]:
#Q48) Create a tuple of the first `n` triangular numbers.

#ANS - 
def generate_triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
triangular_numbers_tuple = generate_triangular_numbers(5)
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [103]:
#Q49) check if a tuple contains another tuple as a subsequence 

#ANS -
def is_subsequence(subseq, sequence):
    subseq_len = len(subseq)
    sequence_len = len(sequence)

    if subseq_len > sequence_len:
        return False

    for i in range(sequence_len - subseq_len + 1):
        if sequence[i:i + subseq_len] == subseq:
            return True

    return False
larger_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
subsequence_tuple = (3, 4, 5)
result = is_subsequence(subsequence_tuple, larger_tuple)
if result:
    print("The subsequence is present in the larger tuple.")
else:
    print("The subsequence is not present in the larger tuple.")

The subsequence is present in the larger tuple.

In [105]:
#Q50)  craete a tuple of alternating 1s and 0s of lwngth n

#ANS - 
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))
result_tuple = alternating_ones_zeros(10)
print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [106]:
                     #   Set Based Practice Problem :

In [2]:
#Q1) Create a set with integers from 1 to 5.

#ANS -
my_set = {1, 2, 3, 4, 5}

In [4]:
#Q2)  Add an element to a set.

#ANS - 
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
#Q3)

#ANS -
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [8]:
#Q4) Check if an element exists in a set

#ANS - 
my_set = {1, 2, 3, 4, 5}
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [10]:
#Q5) Find the length of a set without using the `len()` function.

#ANS -
my_set = {1, 2, 3, 4, 5}
set_length = 0
for _ in my_set:
    set_length += 1
print("Length of the set:", set_length)

Length of the set: 5

In [12]:
#q6) Clear all elements from a set

#ANS - 
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [14]:
#Q7) Create a set of even numbers from 1 to 10.

#ans - 
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

In [16]:
#Q8) Create a set of odd numbers from 1 to 10.

#ANS -
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

In [19]:
#Q9) Find the union of two sets.

#ANS -
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

NameError: name 'set1' is not defined

In [21]:
#Q10) . Find the intersection of two sets.

#ANS _ 
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [23]:
#Q11) Find the difference between two sets.

#ANS -
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2, 3}

In [25]:
#Q12) Check if a set is a subset of another set

#ANS - 
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [27]:
#Q13) . Check if a set is a superset of another set

#ANS -
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [29]:
#Q14) . Create a set from a list.

#ANS - 
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4, 5}

In [31]:
#Q15)  Convert a set to a list.

#ANS - 
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print("List from set:", my_list)

List from set: [1, 2, 3, 4, 5]

In [33]:
#Q16) Remove a random element from a set.


#ANS - my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 2
Set after removal: {3, 4, 5}

In [35]:
#Q17) Pop an element from a set

#ANS -
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Set after pop:", my_set)

Popped element: 1
Set after pop: {2, 3, 4, 5}

In [37]:
#Q18) Check if two sets have no elements in common

#ANS -
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("Sets have no elements in common.")
else:
    print("Sets have elements in common.")

Sets have no elements in common.

In [39]:
#Q19)9. Find the symmetric difference between two sets.

#ANS - set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 3, 5, 6, 7, 8}

In [40]:
#Q20) . Update a set with elements from another set.


#ANS - 
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [41]:
#Q21) Create a set of the first 5 prime numbers.

#ANSS - 
prime_numbers_set = {2, 3, 5, 7, 11}

In [43]:
#Q22)0 . Check if two sets are identica

#ANS -
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [45]:
#Q23) Create a frozen set.

#ANS =
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

print("Original set:", my_set)
print("Frozen set:", my_frozen_set)

Original set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

In [48]:
#Q24)/ Check if a set is disjoint with another set

#ANS -
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("Sets are disjoint (have no elements in common).")
else:
    print("Sets are not disjoint (have elements in common).")

Sets are disjoint (have no elements in common).

In [49]:
#Q25) 5. Create a set of squares of numbers from 1 to 5

#ANS - 
squares_set = {x**2 for x in range(1, 6)}

In [51]:
#Q26) Filter out all even numbers from a set

#ANS -
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}

print("Original set:", original_set)
print("Filtered set (odd numbers only):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (odd numbers only): {1, 3, 5, 7, 9}

In [53]:
#Q27)  Multiply all elements in a set by 2

#ANS - 
original_set = {1, 2, 3, 4, 5}
new_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("New set (elements multiplied by 2):", new_set)

Original set: {1, 2, 3, 4, 5}
New set (elements multiplied by 2): {2, 4, 6, 8, 10}

In [55]:
#Q28) Create a set of random numbers

#ANS - 
import random
random_set = set(random.sample(range(1, 51), 5))

print("Random set:", random_set)

Random set: {34, 38, 10, 45, 14}

In [57]:
#Q29)  Check if a set is empty.

#ANS -
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [58]:
#Q30) Create a nested set (hint: use frozenset).

#ANS -
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'a', 'c', 'b'})}

In [60]:
#Q31)  Remove an element from a set using the discard method.

#ANS - 
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)

print("Set after using discard:", my_set)

Set after using discard: {1, 2, 4, 5}

In [62]:
#Q32) 2. Compare two sets.

#ANS -
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("Sets are disjoint (have no elements in common).")
else:
    print("Sets are not disjoint (have elements in common).")

Sets are disjoint (have no elements in common).

In [64]:
#Q33) Create a set from a string.

#ANS -
my_string = "hello"
my_set = set(my_string)

print("Set from string:", my_set)

Set from string: {'h', 'e', 'l', 'o'}

In [65]:
#Q34) Convert a set of strings to a set of integers.

#ANS - 
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}

print("Set of strings:", set_of_strings)
print("Set of integers:", set_of_integers)

Set of strings: {'1', '5', '2', '4', '3'}
Set of integers: {1, 2, 3, 4, 5}

In [67]:
#Q35) Convert a set of integers to a set of strings.

#ANS -
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}

print("Set of integers:", set_of_integers)
print("Set of strings:", set_of_strings)

Set of integers: {1, 2, 3, 4, 5}
Set of strings: {'2', '4', '1', '5', '3'}

In [69]:
#Q36) Create a set from a tuple.

#ANS -
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

In [71]:
#Q37)  Convert a set to a tuple

#ANS -
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print("Set:", my_set)
print("Tuple from set:", my_tuple)

Set: {1, 2, 3, 4, 5}
Tuple from set: (1, 2, 3, 4, 5)

In [73]:
#Q38)  Find the maximum value in a set.


#ANS - 
 my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}

# Find the maximum value in the set using max() function
max_value = max(my_set)

print("Set:", my_set)
print("Maximum value in the set:", max_value)

IndentationError: unexpected indent (413485497.py, line 5)

In [75]:
#Q39) 9. Find the minimum value in a set.

#ANS - 
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}
min_value = min(my_set)

print("Set:", my_set)
print("Minimum value in the set:", min_value)

Set: {1, 2, 3, 4, 5, 6, 9}
Minimum value in the set: 1

In [79]:
#Q40) Create a set from user input.

#ANS -

user_input = input("Enter elements separated by spaces: ")
input_list = user_input.split()


user_set = set()

for item in input_list:
    try:
    
        user_set.add(int(item))
    except ValueError:
        print(f"Skipping invalid input: {item}")

print("User input as set:", user_set)

Enter elements separated by spaces:  hello im atin

Skipping invalid input: hello
Skipping invalid input: im
Skipping invalid input: atin
User input as set: set()

In [81]:
#Q41) Check if the intersection of two sets is empty.

#ANS -

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
intersection_empty = set1.isdisjoint(set2)

if intersection_empty:
    print("The intersection is empty.")
else:
    print("The sets have common elements.")

The intersection is empty.

In [83]:
#Q42) Create a set of the first 5 Fibonacci numbers.

#ANS -
def generate_fibonacci(n):
    fib_set = {0, 1}
    a, b = 0, 1

    for _ in range(n - 2):
        a, b = b, a + b
        fib_set.add(b)

    return fib_set
first_5_fibonacci = generate_fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [85]:
#Q43) . Remove duplicates from a list using set
#ANS -
original_list = [1, 2, 3, 1, 4, 2, 5, 6, 3, 7]
unique_list = list(set(original_list))

print("Original list:", original_list)
print("List with duplicates removed:", unique_list)

Original list: [1, 2, 3, 1, 4, 2, 5, 6, 3, 7]
List with duplicates removed: [1, 2, 3, 4, 5, 6, 7]

In [87]:
#Q44) Check if two sets have the same elements, regardless of their count

#ANS -
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [91]:
#Q45) Create a set of the first `n` powers of 2.

#ANS - 

def generate_powers_of_2(n):
    return {2**i for i in range(n)}

n = 5
powers_of_2_set = generate_powers_of_2(n)

print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [93]:
#Q46) Find the common elements between a set and a list

#ANS -
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements_method = my_set.intersection(my_list)
common_elements_operator = my_set & set(my_list)

print("Set:", my_set)
print("List:", my_list)
print("Common elements (using intersection()):", common_elements_method)
print("Common elements (using & operator):", common_elements_operator)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common elements (using intersection()): {3, 4, 5}
Common elements (using & operator): {3, 4, 5}

In [95]:
#Q47) Create a set of the first `n` triangular numbers.

#ANS -
def generate_triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

n = 5
triangular_numbers_set = generate_triangular_numbers(n)

print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [97]:
#Q48) Check if a set contains another set as a subset.

#ANS -
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
is_subset_method = set2.issubset(set1)

is_subset_operator = set2 <= set1

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set2 a subset of set1 (using issubset()):", is_subset_method)
print("Is set2 a subset of set1 (using <= operator):", is_subset_operator)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 4}
Is set2 a subset of set1 (using issubset()): True
Is set2 a subset of set1 (using <= operator): True

In [99]:
#Q49)  Create a set of alternating 1s and 0s of length `n`

#ANS -
def generate_alternating_set(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

n = 5
alternating_set = generate_alternating_set(n)

print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 5: {0, 1}

In [101]:
#Q50)  Merge multiple sets into one.

#ANS - 
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set_method = set1.union(set2, set3)

merged_set_operator = set1 | set2 | set3

print("Set 1:", set1)
print("Set 2:", set2)
print("Set 3:", set3)
print("Merged set (using union()):", merged_set_method)
print("Merged set (using | operator):", merged_set_operator)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Set 3: {5, 6, 7}
Merged set (using union()): {1, 2, 3, 4, 5, 6, 7}
Merged set (using | operator): {1, 2, 3, 4, 5, 6, 7}

In [102]:
                                        #completed !